<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head', {title: 'Unauthorized'}) %>
    </head>

    <body>
        <h1>Anda Tidak Memiliki Akses</h1>
        <p>Harap <a href="/login">Masuk</a> Untuk Melanjutkan</p>
    </body>
</html>